.page {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1 0 auto;

    > section {
        &:not(:last-of-type) {
            flex: 0 0 auto;
        }

        &:last-of-type {
            flex: 1 0 auto;
        }
    }
}
