.page {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1 0 auto;
    background-color: var(--color-surface-page);

    &.padHeader {
        padding-top: var(--header-height);
    }

    &.overlapHeader {
        margin-top: calc(var(--header-height) * -1);
    }

    > section {
        &:not(:last-of-type) {
            flex: 0 0 auto;
        }

        &:last-of-type {
            flex: 1 0 auto;
        }
    }
}
