@use '../tokens' as *;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    display: block;
    box-sizing: border-box;
    overflow-y: overlay;
}

::selection {
    background: var(--color-selection);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 10px;
    border: 3px solid var(--scrollbar-background);
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

body {
    width: 100vw;
    height: 100%;
    font-family: var(--font-body);
    font-size: $font-md;
    line-height: 1.4;
    color: var(--color-text);
    background-color: var(--color-surface-page);
    background-attachment: fixed;
    overflow-x: hidden;
}
