@use '../tokens' as *;

// Tables
table {
    color: var(--color-text);
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    line-height: normal;
    text-align: left;
    border-radius: $sm;

    th {
        padding: $xs;
        border-bottom: var(--border-light);
    }

    td {
        padding: $xs;
    }

    tr:nth-child(even) {
        background-color: var(--color-surface-background);
    }
}

table[data-interactive] {
    overflow-y: auto;
    border-collapse: separate;
    border-spacing: 0;

    thead {
        height: 48px;

        tr {
            th {
                background-color: var(--color-surface-foreground);
                border-collapse: collapse;
                text-align: center;
                padding: 0 $sm;
                border-bottom: var(--border-light);

                &:hover {
                    background-color: var(--color-surface-background);
                }
            }
        }
    }

    tbody {
        tr {
            height: 52px;

            td {
                padding: $xxs $sm;
                border-top: var(--border-light);
                text-align: center;
            }

            &:last-child {
                td {
                    border-bottom: var(--border-light);
                }
            }
        }
    }

    &[data-interactive] tbody tr:hover td {
        background-color: var(--color-surface-background);
    }
}
