@use '../tokens' as *;

@layer base {
    // Misc.
    @keyframes appear {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    *[data-tooltip]:not([disabled]) {
        position: relative;

        &:hover::after,
        &:focus::after {
            content: attr(data-tooltip);
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-50%, -var(--space));
            width: max-content;
            max-width: 256px;
            min-width: var(--layout-space-sm);
            padding: var(--space-xs) var(--space);
            border-radius: var(--border-radius);
            background-color: var(--color-background-foreground-dark);
            text-align: center;
            color: var(--color-text-on-dark);
            font-size: var(--font-size);
            font-weight: 500;
            white-space: pre-line;
            z-index: 100;
            opacity: 0;
            animation: 0s ease-out 1s 1 appear;
            animation-fill-mode: forwards;
            box-shadow: var(--shadow-floating);
            filter: none;
        }
    }
}
