@layer components {
    .input {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: var(--space-sm);
        border: none;

        > input {
            margin-block: var(--space-sm);
        }

        > [role='alert'] {
            color: var(--color-critical);
            font-weight: bold;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
