@mixin dynamic-text($default, $hover, $active) {
    color: $default;

    &:not([disabled], .disabled) {
        &:hover,
        &:focus {
            color: $hover;
        }

        &:active {
            color: $active;
        }
    }
}

@mixin outline($border, $borderHover, $borderSelected) {
    border: 1px solid $border;

    &:not([disabled], .disabled) {
        &:hover,
        &:focus {
            border-color: $borderHover;
        }

        &:active {
            border-color: $borderSelected;
        }
    }
}

@mixin ghost($hover) {
    border: none;
    background: transparent;

    &:not([disabled], .disabled) {
        &:hover,
        &:focus {
            background-color: $hover;
        }

        &:active {
            background-color: var(--alpha-dark-1);
        }
    }
}

@mixin filled($background, $backgroundHover, $backgroundSelected) {
    background-color: $background;

    &:not([disabled], .disabled) {
        &:hover,
        &:focus {
            background-color: $backgroundHover;
        }

        &:active {
            background-color: $backgroundSelected;
        }
    }
}

// Remove regular button styling
%clear {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: $font-md;
    font-family: var(--font-body);
    padding: $sm;
    border-radius: $radius-sm;
}

.clear {
    @extend %clear;
}

.button {
    @extend %clear;

    --v-size: 40px;
    --v-internal: 24px;
    --v-font: #{$font-md};

    &.large {
        --v-size: 64px;
        --v-internal: 40px;
    }

    &.small {
        --v-size: 32px;
        --v-internal: 12px;
        --v-font: #{$font-xs};
    }

    width: auto;

    &.full {
        width: 100%;
    }

    height: var(--v-size);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $sm;
    margin: 0;
    font-size: var(--v-font);
    font-weight: $semi;
    transition:
        background var(--transition-mid),
        transform var(--transition-mid),
        box-shadow var(--transition-mid),
        border-color var(--transition-mid),
        outline var(--transition-mid),
        color var(--transition-mid);

    span {
        height: var(--v-internal);
        display: flex;
        align-items: center;
        justify-content: center;
        text-wrap: nowrap;

        &:not(:last-child) {
            padding-right: $xs;
        }
    }

    svg {
        font-size: var(--v-size);
        width: var(--v-internal);
        height: var(--v-internal);
    }

    &.link {
        text-decoration: none !important;
    }

    border-radius: $radius-sm;

    &.rounded {
        border-radius: var(--v-size);
    }

    --v-default: var(--color-text);

    &.filled {
        @include filled(
            var(--context-color-surface, var(--input-color-bg)),
            var(--context-color-surface, var(--input-color-bg-selected)),
            var(--context-color-surface, var(--input-color-bg-selected))
        );

        color: var(--context-color-text, var(--v-default));
    }

    &.outline {
        @include outline(var(--context-color, var(--input-border-color)), var(--context-color-hover, var(--input-color-active)), var(--context-color-active, var(--input-color-active)));
        @include dynamic-text(var(--context-color, var(--input-color-fg)), var(--context-color-hover, var(--input-color-fg)), var(--context-color-active, var(--input-color-fg)));
    }

    &.ghost {
        @include ghost(var(--alpha-dark-1));
        @include dynamic-text(var(--context-color, var(--input-color-fg)), var(--context-color-hover, var(--input-color-fg)), var(--context-color-active, var(--input-color-fg)));
    }

    &.text {
        @include dynamic-text(var(--context-color, var(--input-color-fg)), var(--context-color-hover, var(--input-color-fg-light)), var(--context-color-active, var(--input-color-fg-light)));
    }

    &:not([disabled], .disabled) {
        &:focus {
            outline: none;
        }
    }

    &.loading {
        --v-color: var(--v-default);
        --v-secondary-color: var(--v-default);

        display: grid;
        place-items: center;

        > * {
            grid-row: 1;
            grid-column: 1;
        }
    }

    &[disabled],
    &.disabled {
        background-color: var(--input-color-bg-disabled);
        border: none;
        color: var(--input-color-fg-disabled) !important;
        cursor: not-allowed;
        filter: brightness(var(--filter-disabled-brightness)) saturate(var(--filter-disabled-saturation));
    }
}
