@use '../tokens' as *;

.accordion {
    margin-top: $xs;
    margin-bottom: $md;
    border-top: var(--border-light);
    border-bottom: var(--border-light);
    border-radius: $radius-sm;

    > .toggle {
        width: 100%;

        .button {
            justify-content: flex-start;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            svg {
                transform: rotate(0deg);
                transition: transform var(--t-mid);
            }
        }
    }

    &.open {
        > .toggle {
            .button {
                svg {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    > .wrapper {
        height: 0;
        margin: 0;
        overflow: hidden;
        transition: height var(--t-fast);
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .content {
            height: auto;
            padding: $sm;
            border-radius: $radius-sm;
            overflow-y: visible;
        }
    }
}
