.header {
    margin-bottom: $md;

    &.major {
        margin-bottom: $lg;
    }

    &.minor {
        margin-bottom: $sm;
    }

    .title {
        margin-bottom: 0;
    }

    .subtitle {
        margin-bottom: $sm;
        font-weight: $normal;
    }
}
