.header {
    margin-bottom: var(--space);

    &.major {
        margin-bottom: var(--space-lg);
    }

    &.minor {
        margin-bottom: var(--space-sm);
    }

    &.noMargin {
        margin-bottom: 0;
    }

    .title {
        margin-bottom: 0;
    }

    .subheading {
        margin-bottom: var(--space-sm);
        font-weight: normal;
        color: var(--color-text-soft);
    }
}
