:root {
    --font-body: 'Avenir Next', 'Helvetica Neue', helvetica, sans-seriff;
    --font-heading: 'Avenir Next', 'Helvetica Neue', helvetica, sans-seriff;
}

html,
body {
    overscroll-behavior-y: none;
}
