@use '../../../style' as *;

.tabs {
    border-bottom: var(--border-light);
    margin-bottom: $sm;
}

.tabsSegmented {
    background-color: transparent !important;
    margin-bottom: $sm;
}

.tabButton {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: none !important;
}
