@use '../tokens' as *;

.popover {
    --popover-text-color: var(--c-fg);
    --popover-background-color: var(--color-surface-overlay);
    --popover-border-color: var(--c-bg-dim);
    --popover-border-width: 1px;
    --popover-arrow-size: 8px;
    --popover-arrow-max-shift: 40%;

    &.highlight {
        --popover-background-color: var(--c-primary);
        --popover-border-color: var(--c-primary-text);
    }

    background: transparent;
    font-size: $font-md;
    text-align: center;
    min-width: 192px;
    height: auto;
    pointer-events: all;

    .popoverInner {
        color: var(--popover-text-color);
        background-color: var(--popover-background-color);
        padding: $xs $sm;
        border-radius: $radius-sm;
        box-shadow: var(--shadow-overlay);
        border: var(--popover-border-width) solid var(--popover-border-color);
        height: 100%;
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            border: var(--popover-arrow-size) solid transparent;
        }

        &::before {
            border-width: calc(var(--popover-arrow-size) + var(--popover-border-width));
        }
    }

    &.oneline {
        white-space: nowrap;
        min-width: 32px;
        max-width: none;
    }

    @mixin popover-alignment($direction, $perpendicular) {
        $parallel-offset: 100%;
        $perpendicular-offset: 50%;

        // Depends on offset-x and offset-y from the Anchor component
        $computed-margin: calc(-1 * var(--popover-arrow-size) - clamp(calc(-1 * var(--popover-arrow-max-shift)), var(--v-offset-x), var(--popover-arrow-max-shift)));

        &::before {
            #{$direction}: $parallel-offset;
            #{$perpendicular}: $perpendicular-offset;
            margin-#{$perpendicular}: calc(#{$computed-margin} - var(--popover-border-width));
            border-#{$direction}-color: var(--popover-border-color);
        }

        &::after {
            #{$direction}: $parallel-offset;
            #{$perpendicular}: $perpendicular-offset;
            margin-#{$perpendicular}: $computed-margin;
            border-#{$direction}-color: var(--popover-background-color);
        }
    }

    &[data-direction='top'] {
        .popoverInner {
            @include popover-alignment(top, left);
        }
    }

    &[data-direction='bottom'] {
        .popoverInner {
            @include popover-alignment(bottom, left);
        }
    }

    &[data-direction='right'] {
        .popoverInner {
            @include popover-alignment(right, top);
        }
    }

    &[data-direction='left'] {
        .popoverInner {
            @include popover-alignment(left, top);
        }
    }
}
