.figure {
    --v-max-width: 100%;
    --v-max-height: 100%;

    max-width: var(--v-max-width);
    max-height: var(--v-max-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $lg;

    .image {
        width: 100%;
        border-radius: var(--border-radius);
        user-select: none;
        object-fit: cover;

        &.border {
            border: $sm solid var(--border-light);
        }

        &.round {
            aspect-ratio: 1;
            border-radius: 100%;
        }

        &.fit {
            height: 100%;
        }
    }

    .caption {
        margin-top: $sm;
        color: var(--color-text-soft);
    }
}
