@forward 'core';

@mixin selection {
    --color-selection: var(--color-primary-alpha);
}

:root {
    // Light
    --white: #fff;
    --grey-1: #f5f5f5;
    --grey-2: #f2f3f5;
    --grey-3: #e8eaec;

    // Dark
    --grey-4: #949ba0;
    --grey-5: #585858;
    --grey-6: #222529;
    --grey-7: #18191b;
    --black: #010203;

    // Text
    --color-text: var(--grey-6);
    --color-text-soft: var(--grey-5);
    --color-text-inverse: var(--grey-1);
    --color-text-on-dark: var(--grey-1);
    --color-text-on-light: var(--grey-6);
    --color-text-disabled: var(--grey-4);
    --color-background-disabled: var(--grey-3);

    // Brand
    // Primary
    --color-primary: blue;
    --color-primary-hover: var(--color-primary-dark, var(--color-primary));
    --color-primary-active: var(--color-primary-darker, var(--color-primary));
    --color-surface-primary: var(--color-primary);
    --color-text-on-primary: var(--color-text-on-dark);
    --color-primary-alpha: rgb(0 0 255 / 25%);

    // Secondary
    --color-secondary: lightblue;

    // Accent
    --color-accent: red;
    --color-accent-hover: var(--color-accent-dark, var(--color-accent));
    --color-accent-active: var(--color-accent-darker, var(--color-accent));
    --color-surface-accent: var(--color-accent);
    --color-text-on-accent: var(--color-text-on-dark);

    // Colors
    // Surface
    --color-surface-page: var(--white);
    --color-surface-background: var(--grey-2);
    --color-surface-foreground: var(--white);
    --color-surface-overlay: var(--color-surface-foreground);
    --color-surface-inverse: var(--grey-6);

    // Website
    @include selection;

    --scrollbar-color: var(--grey-4);
    --scrollbar-background: var(--grey-3);

    // Contexts
    $positive-light: rgb(141 222 133);
    $positive: rgb(131 194 118);
    $positive-dark: rgb(69 151 60);
    $critical-light: rgb(251 123 129);
    $critical: rgb(227 63 72);
    $critical-dark: rgb(191 53 89);
    $info-light: rgb(100 181 224);
    $info: rgb(62 154 204);
    $info-dark: rgb(42 127 172);
    $warning-light: rgb(255 235 163);
    $warning: rgb(250 219 107);
    $warning-dark: rgb(202 177 85);

    // Positive
    --color-positive: #{$positive};
    --color-positive-hover: #{$positive-dark};
    --color-positive-active: #{$positive-dark};
    --color-surface-positive: #{$positive};
    --color-text-on-positive: var(--color-text-on-dark);

    // Critical
    --color-critical: #{$critical};
    --color-critical-hover: #{$critical-dark};
    --color-critical-active: #{$critical-dark};
    --color-surface-critical: #{$critical};
    --color-text-on-critical: var(--color-text-on-dark);

    // Info
    --color-info: #{$info};
    --color-info-hover: #{$info-dark};
    --color-info-active: #{$info-dark};
    --color-surface-info: #{$info};
    --color-text-on-info: var(--color-text-on-light);

    // Warning
    --color-warning: #{$warning};
    --color-warning-hover: #{$warning-dark};
    --color-warning-active: #{$warning-dark};
    --color-surface-warning: #{$warning};
    --color-text-on-warning: var(--color-text-on-light);

    // Alpha
    $alpha-base: 144, 144, 144;
    $alpha-base-dark: 26, 26, 26;

    --alpha-1: rgba(#{$alpha-base}, 0.07);
    --alpha-2: rgba(#{$alpha-base}, 0.2);
    --alpha-3: rgba(#{$alpha-base}, 0.23);
    --alpha-4: rgba(#{$alpha-base}, 0.27);
    --alpha-dark-1: rgba(#{$alpha-base-dark}, 0.07);
    --alpha-dark-2: rgba(#{$alpha-base-dark}, 0.2);
    --alpha-dark-3: rgba(#{$alpha-base-dark}, 0.23);
    --alpha-dark-4: rgba(#{$alpha-base-dark}, 0.27);

    // Border
    --border-width-thin: 1px;
    --border-width-thick: 2px;
    --border-color-light: var(--grey-3);
    --border-color-dark: var(--grey-5);
    --border-light: var(--border-width-thin) solid var(--border-color-light);
    --border-dark: var(--border-width-thin) solid var(--border-color-dark);

    // Input
    --input-color-active: var(--color-primary);
    --input-color-active-hover: var(--color-primary-hover);
    --input-color-fg-active: var(--color-text-on-primary);
    --input-border-color: var(--border-color-light);
    --input-border: var(--border-width-thin) solid var(--input-border-color);
    --input-border-active: var(--border-width-thin) solid var(--input-color-active);
    --input-outline: var(--border-width-thin) solid var(--input-color-active);
    --input-color-fg: var(--color-text);
    --input-color-fg-light: var(--color-text-soft);
    --input-color-fg-disabled: var(--color-text-disabled);
    --input-color-bg: var(--color-grey-1);
    --input-color-bg-disabled: var(--color-background-disabled);
    --input-color-bg-selected: var(--color-grey-3);

    // Shadows
    --shadow-subtle: 0px 3px 1px -1px var(--alpha-dark-1);
    --shadow-raised: 0px 4px 6px -2px var(--alpha-dark-2);
    --shadow-lifted: 0px 8px 16px -4px var(--alpha-dark-3);
    --shadow-floating: 0px 12px 20px -8px var(--alpha-dark-4);

    // Text
    --text-header-xxl: 3rem;
    --text-header-xl: 2.5rem;
    --text-header-lg: 2rem;
    --text-header-md: 1.5rem;
    --text-header-sm: 1.25rem;
    --text-header-xs: 1rem;

    // Typography
    --font-body: 'Avenir Next', helvetica, arial, sans-serif;
    --font-header: 'Avenir Next', helvetica, arial, sans-serif;

    // Effects
    // Transitions
    --transition-slow: 1s ease;
    --transition-mid: 0.5s ease;
    --transition-fast: 0.25s ease;

    // Filters
    --filter-disabled-saturation: 60%;
    --filter-disabled-brightness: 0.9;
    --filter-hover-brightness: 1.1;
}

::selection {
    @include selection;
}

:root[data-theme='dark'] {
    --color-text: var(--color-text-on-dark);
    --color-text-soft: var(--grey-4);
    --color-surface-page: var(--grey-7);
    --color-surface-foreground: var(--black);
    --color-surface-background: var(--grey-7);
    --border-color-light: var(--grey-5);
    --border-color-dark: var(--grey-3);
    --scrollbar-color: var(--grey-4);
    --scrollbar-background: var(--grey-5);
    --v-invert: 1;
}

*[data-context] {
    /* Primary context styles */
    &[data-context='primary'] {
        --context-color: var(--color-primary);
        --context-color-hover: var(--color-primary-hover);
        --context-color-active: var(--color-primary-active);
        --context-color-surface: var(--color-surface-primary);
        --context-color-text: var(--color-text-on-primary);
    }

    /* Accent context styles */
    &[data-context='accent'] {
        --context-color: var(--color-accent);
        --context-color-hover: var(--color-accent-hover);
        --context-color-active: var(--color-accent-active);
        --context-color-surface: var(--color-surface-accent);
        --context-color-text: var(--color-text-on-accent);
    }

    /* Secondary context styles */
    &[data-context='secondary'] {
        --context-color: var(--color-secondary);
        --context-color-hover: var(--color-secondary-hover);
        --context-color-active: var(--color-secondary-active);
        --context-color-surface: var(--color-surface-secondary);
        --context-color-text: var(--color-text-on-secondary);
    }

    /* Success context styles */
    &[data-context='positive'] {
        --context-color: var(--color-positive);
        --context-color-hover: var(--color-positive-hover);
        --context-color-active: var(--color-positive-active);
        --context-color-surface: var(--color-surface-positive);
        --context-color-text: var(--color-text-on-positive);
    }

    /* Critical context styles */
    &[data-context='critical'] {
        --context-color: var(--color-critical);
        --context-color-hover: var(--color-critical-hover);
        --context-color-active: var(--color-critical-active);
        --context-color-surface: var(--color-surface-critical);
        --context-color-text: var(--color-text-on-critical);
    }

    /* Warning context styles */
    &[data-context='warning'] {
        --context-color: var(--color-warning);
        --context-color-hover: var(--color-warning-hover);
        --context-color-active: var(--color-warning-active);
        --context-color-surface: var(--color-surface-warning);
        --context-color-text: var(--color-text-on-warning);
    }

    /* Info context styles */
    &[data-context='info'] {
        --context-color: var(--color-info);
        --context-color-hover: var(--color-info-hover);
        --context-color-active: var(--color-info-active);
        --context-color-surface: var(--color-surface-info);
        --context-color-text: var(--color-text-on-info);
    }
}
