@forward 'core';

:root {
    // Brand
    // Primary
    --color-primary: var(--c-primary);
    --color-primary-hover: var(--color-primary-dark, var(--color-primary));
    --color-primary-active: var(--color-primary-darker, var(--color-primary));
    --color-surface-primary: var(--c-bg-tint);
    --color-text-on-primary: var(--c-fg-on-primary);
    --color-primary-alpha: var(--c-primary);

    // Secondary
    --color-secondary: var(--c-secondary);

    // Accent
    --color-accent: var(--c-accent);
    --color-accent-hover: var(--color-accent-dark, var(--color-accent));
    --color-accent-active: var(--color-accent-darker, var(--color-accent));
    --color-surface-accent: var(--c-accent);
    --color-text-on-accent: var(--c-fg-on-primary);

    // Colors
    // Text
    --color-text: var(--c-fg);
    --color-text-inverse: var(--c-fg-inverse);

    // Surface
    --color-surface-page: var(--c-bg-light);
    --color-surface-background: var(--c-bg);
    --color-surface-foreground: var(--c-bg-light);
    --color-surface-overlay: var(--color-surface-foreground);
    --color-surface-inverse: var(--c-bg-inverse);

    // Website
    --color-selection: var(--color-primary-alpha);
    --color-scrollbar: var(--c-bg-dim);

    // Contexts
    $positive: green;
    $critical: red;
    $info: blue;
    $warning: yellow;

    // Positive
    --color-positive: var(--c-positive, $positive);
    --color-positive-hover: var(--c-positive);
    --color-positive-active: var(--c-positive);
    --color-surface-positive: var(--c-positive);
    --color-text-on-positive: var(--c-fg-on-primary);

    // Critical
    --color-critical: var(--c-critical);
    --color-critical-hover: var(--c-critical);
    --color-critical-active: var(--c-critical);
    --color-surface-critical: var(--c-critical);
    --color-text-on-critical: var(--c-fg-on-primary);

    // Info
    --color-info: var(--c-info);
    --color-info-hover: var(--c-info);
    --color-info-active: var(--c-info);
    --color-surface-info: var(--c-info);
    --color-text-on-info: var(--c-fg-on-primary);

    // Warning
    --color-warning: var(--c-warning);
    --color-warning-hover: var(--c-warning);
    --color-warning-active: var(--c-warning);
    --color-surface-warning: var(--c-warning);
    --color-text-on-warning: var(--c-fg-on-primary);

    // Border
    --border-width-thin: 1px;
    --border-width-thick: 2px;
    --border-color-light: var(--c-bg-dim);
    --border-color-dark: var(--c-bg-dark);
    --border-light: var(--border-width-thin) solid var(--border-color-light);
    --border-dark: var(--border-width-thin) solid var(--border-color-dark);

    // Input
    --input-color-active: var(--color-primary);
    --input-color-active-hover: var(--color-primary-hover);
    --input-color-fg-active: var(--c-fg-on-primary);
    --input-border-color: var(--border-color-light);
    --input-border: var(--border-width-thin) solid var(--input-border-color);
    --input-border-active: var(--border-width-thin) solid var(--input-color-active);
    --input-outline: var(--border-width-thin) solid var(--input-color-active);
    --input-color-fg: var(--c-fg);
    --input-color-fg-light: var(--c-fg-light);
    --input-color-fg-disabled: var(--c-fg-light);
    --input-color-bg: var(--c-bg-light);
    --input-color-bg-disabled: var(--c-bg-light);
    --input-color-bg-selected: var(--c-bg);

    // Shadows
    --shadow-subtle: 0px 3px 1px -1px rgb(26 26 26 / 7%);
    --shadow-raised: 0px 4px 6px -2px rgb(26 26 26 / 20%);
    --shadow-lifted: 0px 8px 16px -4px rgb(26 26 26 / 22%);
    --shadow-floating: 0px 12px 20px -8px rgb(26 26 26 / 24%);

    // Text
    --text-header-xxl: 3rem;
    --text-header-xl: 2.5rem;
    --text-header-lg: 2rem;
    --text-header-md: 1.5rem;
    --text-header-sm: 1.25rem;
    --text-header-xs: 1rem;

    // Effects
    // Transitions
    --t-slow: 1s ease;
    --t-mid: 0.5s ease;
    --t-fast: 0.25s ease;
}

*[data-context] {
    /* Primary context styles */
    &[data-context='primary'] {
        --context-color: var(--color-primary);
        --context-color-hover: var(--color-primary-hover);
        --context-color-active: var(--color-primary-active);
        --context-color-surface: var(--color-surface-primary);
        --context-color-text: var(--color-text-on-primary);
    }

    /* Accent context styles */
    &[data-context='accent'] {
        --context-color: var(--color-accent);
        --context-color-hover: var(--color-accent-hover);
        --context-color-active: var(--color-accent-active);
        --context-color-surface: var(--color-surface-accent);
        --context-color-text: var(--color-text-on-accent);
    }

    /* Secondary context styles */
    &[data-context='secondary'] {
        --context-color: var(--color-secondary);
        --context-color-hover: var(--color-secondary-hover);
        --context-color-active: var(--color-secondary-active);
        --context-color-surface: var(--color-surface-secondary);
        --context-color-text: var(--color-text-on-secondary);
    }

    /* Success context styles */
    &[data-context='positive'] {
        --context-color: var(--color-positive);
        --context-color-hover: var(--color-positive-hover);
        --context-color-active: var(--color-positive-active);
        --context-color-surface: var(--color-surface-positive);
        --context-color-text: var(--color-text-on-positive);
    }

    /* Critical context styles */
    &[data-context='critical'] {
        --context-color: var(--color-critical);
        --context-color-hover: var(--color-critical-hover);
        --context-color-active: var(--color-critical-active);
        --context-color-surface: var(--color-surface-critical);
        --context-color-text: var(--color-text-on-critical);
    }

    /* Warning context styles */
    &[data-context='warning'] {
        --context-color: var(--color-warning);
        --context-color-hover: var(--color-warning-hover);
        --context-color-active: var(--color-warning-active);
        --context-color-surface: var(--color-surface-warning);
        --context-color-text: var(--color-text-on-warning);
    }

    /* Info context styles */
    &[data-context='info'] {
        --context-color: var(--color-info);
        --context-color-hover: var(--color-info-hover);
        --context-color-active: var(--color-info-active);
        --context-color-surface: var(--color-surface-info);
        --context-color-text: var(--color-text-on-info);
    }
}
