@layer components {
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &.block {
            width: 100%;
        }

        &.stretch {
            height: 100%;
        }
    }
}
