@use './tokens' as *;

// Favor responding at a maximum breakpoint for consistency
@mixin respond-max($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin respond-min($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin respond-height-max($breakpoint) {
    @media (max-height: $breakpoint) {
        @content;
    }
}

@mixin base-input {
    color: var(--input-color-fg);
    background-color: var(--input-color-bg);
    border-radius: $radius-md;
    font-size: $font-md;
    border: var(--input-border);
    transition:
        outline-color var(--transition-fast),
        border var(--transition-mid);

    &:hover {
        border: var(--input-outline);
    }
}

@mixin hide-scrollbar {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

@mixin responsive-width {
    $min-padding: max(5%, 8px);
    $max-width: #{$screen-lg};

    width: 100%;
    padding-inline: max(calc((100% - #{$max-width}) / 2), #{$min-padding});
}
