@layer components {
    .header {
        margin-bottom: 0;

        .title {
            margin-bottom: 0;
        }

        .subheading {
            margin-bottom: 0;
            font-weight: normal;
            color: var(--color-text-soft);
        }

        .title + .subheading {
            margin-top: var(--space-xs);
        }

        &.soft .title {
            color: var(--color-text-soft);
        }
    }
}
