.accordion {
    > .toggle {
        width: 100%;

        .button {
            justify-content: flex-start;
            border-radius: 0;

            svg {
                transform: rotate(0deg);
                transition: transform var(--transition-mid);
            }
        }
    }

    &.border {
        border-radius: 0;
        border-top: var(--border-light);
        border-bottom: var(--border-light);
    }

    &.margins {
        margin-top: $xs;
        margin-bottom: $md;
    }

    &.open {
        > .toggle {
            .button {
                svg {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    > .wrapper {
        height: 0;
        margin: 0;
        overflow: hidden;
        transition: height var(--transition-fast);
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .content {
            height: auto;
            padding: $sm;
            border-radius: var(--border-radius);
            overflow-y: visible;
        }
    }
}
