@use '../tokens' as *;

@layer base {
    // Links
    a {
        text-decoration: none;

        // color: var(--context-color-text, var(--color-primary));
        // color: var(--color-primary);
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    // Lists
    ul {
        margin-left: var(--space);
        margin-bottom: var(--space);
    }

    // Misc.
    blockquote {
        border-left: solid 4px;
        font-style: italic;
        margin: 0 0 var(--space-lg);
        padding: var(--space-sm) 0 var(--space-sm) var(--space-lg);
    }

    code {
        font-family: monospace;
        font-size: var(--font-size-sm);
        color: var(--color-text);
    }

    pre {
        background: var(--alpha-lightest);
        border-radius: var(--border-radius);
        border: var(--border-soft);
        font-family: monospace;
        font-size: var(--font-size-sm);

        code {
            display: block;
            line-height: 1.75;
            padding: var(--space-sm) var(--space);
        }
    }

    hr {
        width: 100%;
        border: 0;
        border-bottom: var(--border-width) solid var(--alpha-contrast);
        margin-block: var(--space-lg);
    }
}
