@use '../tokens' as *;

@layer base {
    // Tables
    table {
        color: var(--color-text);
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        line-height: normal;
        text-align: left;
        border-radius: var(--space-sm);

        th {
            padding: var(--space-xs);
            border-bottom: var(--border-soft);
        }

        td {
            padding: var(--space-xs);
        }

        tbody tr:nth-child(odd) {
            background-color: var(--background-container);
        }
    }

    table[data-interactive] {
        border-collapse: separate;
        border-spacing: 0;

        thead {
            height: 48px;

            tr {
                th {
                    background-color: var(--background-content);
                    border-collapse: collapse;
                    text-align: center;
                    padding: 0 var(--space-sm);
                    border-bottom: var(--border-soft);

                    &:hover {
                        background-color: var(--background-container);
                    }
                }
            }
        }

        tbody {
            tr {
                height: 52px;

                td {
                    padding: var(--space-xs) var(--space-sm);
                    border-top: var(--border-soft);
                    text-align: center;
                }

                &:last-child {
                    td {
                        border-bottom: var(--border-soft);
                    }
                }
            }
        }

        &[data-interactive] tbody tr:hover td {
            background-color: var(--background-container);
        }
    }
}
