@use '../../style' as *;

.figure {
    --v-max-width: 100%;
    --v-max-height: 100%;

    max-width: var(--v-max-width);
    max-height: var(--v-max-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $lg;

    .image {
        height: 100%;
        width: 100%;
        border-radius: $radius-md;
        user-select: none;

        &.border {
            border: $sm solid var(--border-light);
        }

        &.round {
            aspect-ratio: 1;
            border-radius: 100%;
        }
    }

    .caption {
        margin-top: $sm;
    }
}
