@layer components {
    .accordion {
        width: 100%;

        &.border {
            border-radius: 0;
            border-top: var(--border-soft);
            border-bottom: var(--border-soft);
        }

        &.margins {
            margin-block: var(--space);
        }

        > .wrapper {
            height: 0;
            margin: 0;
            overflow: hidden;
            transition: height var(--transition-fast);
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            .content {
                height: auto;
                padding: var(--space-sm);
                border-radius: var(--border-radius);
                overflow-y: visible;
            }
        }

        &.instant {
            .wrapper,
            svg {
                transition: none !important;
            }
        }

        > .toggle {
            width: 100%;

            .button {
                justify-content: flex-start;
                border-radius: 0;

                svg {
                    transform: rotate(0deg);
                    transition: transform var(--transition-medium);
                }
            }
        }

        &.open {
            > .toggle {
                .button {
                    svg {
                        transform: rotate(-180deg);
                    }
                }
            }
        }
    }
}
