@layer components {
    .header {
        @include responsive-width;

        $header-height: 64px;

        display: flex;
        align-items: center;
        justify-content: center;
        height: $header-height;
        z-index: $z-header;

        &.inline {
            background: none;
            border: none;
        }

        &.fixed {
            position: sticky;
            inset: 0;
        }

        &.overlapPage + main {
            margin-top: calc(-1 * #{$header-height}) !important;
        }

        &.background {
            background-color: var(--background-content);
            border-bottom: var(--border-soft);
        }
    }
}
