@use '../tokens' as *;

.anchor {
    display: inline-block;
    position: relative;
}

.anchorPortal {
    position: fixed;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $z-anchor;
}

.component {
    --v-anchor-x: 0px;
    --v-anchor-y: 0px;
    --v-offset-x: 0px;
    --v-offset-y: 0px;
    --v-padding: 0px 0px 0px 0px;

    padding: var(--v-padding);
    transform: translate(calc(var(--v-anchor-x) + var(--v-offset-x)), calc(var(--v-anchor-y) + var(--v-offset-y)));
}

.anchors {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
