.section {
    @include responsive-width;

    min-height: 64px;
    padding-block: $layout-space-md;
    flex-grow: 1;
    position: relative;
    color: var(--context-color-text, inherit);

    &.parallax {
        // Fallback color defaults to the primary color
        background-color: var(--color-primary);
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;

        @include respond-max($screen-sm) {
            background-attachment: local;
        }
    }

    &.background {
        &:not(.floating, .inset) {
            background-color: var(--context-color-surface, --color-surface-foreground);
        }

        &.floating,
        &.inset {
            background-color: var(--color-surface-background);
        }
    }

    &.floating {
        padding-inline: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        > div {
            width: min(600px, 95%);
            background-color: var(--context-color-surface, var(--color-surface-foreground));
            padding: $xl;
            border: var(--border-light);
            border-radius: $radius-md;
            box-shadow: var(--shadow-lifted);
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 12px;
        }
    }

    &.inset > div {
        @include responsive-width;

        min-height: 128px;
        background-color: var(--context-color-surface, var(--color-surface-foreground));
        border: var(--border-light);
        padding-block: $xl;
        border-radius: $radius-md;
        box-shadow: var(--shadow-lifted);
    }

    @include respond-max($screen-md) {
        padding-block: 72px;
    }

    @include respond-max($screen-sm) {
        padding-block: 48px;
    }
}
