@layer components {
    .anchor {
        display: inline-block;
        position: relative;
    }

    .anchorPortal {
        position: fixed;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: $z-anchor;
    }

    .component {
        --anchor-x: 0px;
        --anchor-y: 0px;
        --anchor-offset-x: 0px;
        --anchor-offset-y: 0px;
        --anchor-padding: 0px 0px 0px 0px;

        padding: var(--anchor-padding);
        transform: translate(calc(var(--anchor-x) + var(--anchor-offset-x)), calc(var(--anchor-y) + var(--anchor-offset-y)));
    }

    .anchors {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        pointer-events: none;
        z-index: $z-anchor;
    }
}
