@use '../tokens' as *;

.split {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: $xs;

    &.left {
        grid-template-columns: auto 1fr;
    }

    &.right {
        grid-template-columns: 1fr auto;
    }

    &.verticalCenter > :first-child {
        align-self: center;
    }
}
