.examples {
    border: var(--border-soft);
    padding: var(--space);
    margin-block: var(--space-sm);
    border-radius: var(--border-radius);
    min-height: 120px;
    overflow: hidden;
    background-color: var(--background-container);
}

.properties {
    line-height: 2;

    tr {
        height: 48px;

        td {
            text-align: left;

            &:first-of-type {
                font-weight: 500;
            }
        }
    }
}
