@use 'phantom-library/tokens' as *;

$aside-width: 256px;
$header-height: 64px;
$page-height: calc(100vh - #{$header-height});

.main {
    width: calc(100% - #{$aside-width});
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: $page-height;

    @include respond-max($screen-sm) {
        width: 100%;
    }
}

.aside {
    width: $aside-width;
    position: sticky;
    top: $header-height;
    left: 0;
    border-right: var(--border-soft);
    height: $page-height;
    padding: var(--space-sm);
    overflow-y: auto;
    flex-shrink: 0;
    background-color: var(--background-content);
    z-index: $z-header - 1;
    scrollbar-gutter: stable;

    &.mobile {
        position: fixed;
        inset: 0;
        height: 100%;
        transition: transform var(--transition-medium);
        padding-top: calc(var(--layout-space-sm) + var(--space-sm));

        &[data-toggled='true'] {
            transform: translateX(0);
        }

        &[data-toggled='false'] {
            transform: translateX(-256px);
        }
    }
}

.category {
    padding-top: 0;
}
