@layer components {
    .modal {
        display: flex;
        position: relative;
        width: 25%;
        min-width: 480px;
        max-height: 90%;
        border-radius: var(--border-radius);
        background-color: var(--color-background-overlay);
        box-shadow: var(--shadow-floating);
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: var(--space);
    }

    .buttonGroup {
        display: flex;
        justify-self: flex-end;
        margin-top: var(--space);
        gap: var(--space-sm);
        justify-content: center;
        align-items: center;
    }

    .content {
        display: flex;
        overflow: hidden auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header {
        display: flex;
        width: 100%;
        margin-block: var(--space-sm);
        align-self: flex-start;
        align-items: center;
    }

    .message {
        margin: var(--space-sm);
        width: 100%;
    }
}
